/////////////////
// Semantic.gs // for Stylus: http://learnboost.github.com/stylus/
/////////////////

// Defaults which you can freely override
column_width = 60px
gutter_width = 20px
columns = 12

// Utility variable - you should never need to modify this
_gridsystem_width = (column_width + gutter_width) * columns

// Set @total-width to 100% for a fluid layout
total_width = _gridsystem_width

// Correcting percentage-to-pixel rounding errors in IE6 & 7
// See http://tylertate.com/blog/2012/01/05/subpixel-rounding.html
// Override @min with the minimum width of your layout
min_width = 960
correction = (((0.5 / min_width) * 100) * 1%)

//////////
// GRID //
//////////

body
  width 100%
  clearfix()

row(columns = columns)
  calculated_row_width = total_width * ((gutter_width + _gridsystem_width ) / _gridsystem_width)
  calculated_margin_width = total_width * (((gutter_width * 0.5) / _gridsystem_width ) * - 1)

  display block
  width calculated_row_width
  margin-left calculated_margin_width
  margin-right calculated_margin_width
  *width (calculated_row_width - correction)
  *margin-left: (calculated_margin_width - correction)
  *margin-right: (calculated_margin_width - correction)

column(x, columns = columns)
  calculated_column_width = total_width * ((((gutter_width + column_width) * x) - gutter_width) / _gridsystem_width)
  calculated_margin_width = total_width * ( (gutter_width * 0.5) / _gridsystem_width)

  display inline
  float left
  overflow hidden
  width calculated_column_width
  margin-left calculated_margin_width
  margin-right calculated_margin_width
  *width (calculated_column_width - correction)
  *margin-left: (calculated_margin_width - correction)
  *margin-right: (calculated_margin_width - correction)

offset(offset = 1)
  margin-left (total_width*(((gutter_width + column_width) * offset + (gutter_width*0.5)) / _gridsystem_width))