@import url(../../stylesheets/reset.css);
@import url(../../stylesheets/demo.css);
body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

div.center {
  margin: 0 auto;
  overflow: hidden; }

header#top {
  margin-bottom: 1em; }

#maincolumn {
  display: inline;
  float: left;
  width: 72.917%;
  margin: 0 1.042%;
  *width: 72.865%;
  *margin: 0 0.99%; }
  #maincolumn ul#boxes {
    display: block;
    width: 102.778%;
    margin: 0 -1.389%;
    *width: 102.726%;
    *margin: 0 -1.441%;
    *zoom: 1; }
    #maincolumn ul#boxes:before, #maincolumn ul#boxes:after {
      content: "";
      display: table; }
    #maincolumn ul#boxes:after {
      clear: both; }
    #maincolumn ul#boxes li {
      display: inline;
      float: left;
      width: 30.556%;
      margin: 0 1.389%;
      *width: 30.503%;
      *margin: 0 1.337%;
      margin-bottom: 1em; }

#sidebar {
  display: inline;
  float: left;
  width: 22.917%;
  margin: 0 1.042%;
  *width: 22.865%;
  *margin: 0 0.99%; }
