@import '../../../stylesheets/scss/grid';
$column-width: 40px;
$gutter-width: 20px;
$columns: 16;

.column1 { @include column(1); }
.column2 { @include column(2); }
.column3 { @include column(3); }
.column4 { @include column(4); }
.column5 { @include column(5); }
.column6 { @include column(6); }
.column7 { @include column(7); }
.column8 { @include column(8); }
.column9 { @include column(9); }
.column10 { @include column(10); }
.column11 { @include column(11); }
.column12 { @include column(12); }
.column13 { @include column(13); }
.column14 { @include column(14); }
.column15 { @include column(15); }
.column16 { @include column(16); }
.row1 { @include row(1); }
.row2 { @include row(2); }
.row3 { @include row(3); }
.row4 { @include row(4); }
.row5 { @include row(5); }
.row6 { @include row(6); }
.row7 { @include row(7); }
.row8 { @include row(8); }
.row9 { @include row(9); }
.row10 { @include row(10); }
.row11 { @include row(11); }
.row12 { @include row(12); }
.row13 { @include row(13); }
.row14 { @include row(14); }
.row15 { @include row(15); }
.row16 { @include row(16); }
.push1 { @include push(1); }
.push2 { @include push(2); }
.push3 { @include push(3); }
.push4 { @include push(4); }
.push5 { @include push(5); }
.push6 { @include push(6); }
.push7 { @include push(7); }
.push8 { @include push(8); }
.push9 { @include push(9); }
.push10 { @include push(10); }
.push11 { @include push(11); }
.push12 { @include push(12); }
.push13 { @include push(13); }
.push14 { @include push(14); }
.push15 { @include push(15); }
.push16 { @include push(16); }
.pull1 { @include pull(1); }
.pull2 { @include pull(2); }
.pull3 { @include pull(3); }
.pull4 { @include pull(4); }
.pull5 { @include pull(5); }
.pull6 { @include pull(6); }
.pull7 { @include pull(7); }
.pull8 { @include pull(8); }
.pull9 { @include pull(9); }
.pull10 { @include pull(10); }
.pull11 { @include pull(11); }
.pull12 { @include pull(12); }
.pull13 { @include pull(13); }
.pull14 { @include pull(14); }
.pull15 { @include pull(15); }
.pull16 { @include pull(16); }
